h1{
    font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;     
}
h2{
    font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 3em;
}
p {
    font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;
}